.App {
  text-align: center;
  background-color: rgba(253, 253, 253, 0.963);
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

/* .paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
} */

/* .paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #dc8101;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: #ea8a047d;
}

.paginationActive a {
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

.paginationDisabled a {
  color: rgb(0, 0, 0);
  background-color: white;
} */



.to-top {
  background: #dc8101;
  position: fixed;
  bottom: 19px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#ffffff;
  text-decoration: none;
  opacity:0;
  transition: all .4s;
  cursor: pointer;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



