
.sec8 h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    margin-top: 105px;
    margin-bottom:-470px;
    padding-bottom: 10px;
    padding-top: 45px;
    margin-right: 35px;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

.sec8 {
    margin-bottom: 0px;
    height: 1100px;
    border-radius: 100px;
    background-image: url("/public/images/signupcover.png");
    box-shadow: inset 0 0 0  1000px rgba(254, 254, 255, 0.758);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: -100px;
    margin-bottom: 80px;
}

.ema {
    margin-top: 13px;
}

.passw {
    margin-top: 13px;
}

.form label {
   margin-left: 20px;
}

.sec8 .form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin-bottom: 300px;
    border-radius: 40px;
    border: 1px solid black;
    box-shadow: 2px 7px 19px 3px rgba(118,118,118,0.38);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.792), rgba(255, 254, 253, 0.825)), url("../../../../public/images/cooking_icons_vectors_165739681.jpg");
    background-repeat: repeat;
    background-size: auto;
    width: 760px;
    height: 1030px;
    border-radius: 30px;
    padding-top: 80px;
    align-self: center;
    margin-left: 750px;
    margin-top: 480px;
}

.sec8 input {
    width: 530px;
    height: 60px;
    border-radius: 10px;
    background-color: #f6f8f8d4;
    font-size: 27px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 10.4px;
    text-align: left;
}

span {
    margin-top: 30px;
    font-size: 20px;
    margin-right: 10px;
}

form .fas.fa-thin.fa-book-bookmark {
    margin-top: 18px;
    margin-left: -3px;
    font-size: 39px;
    cursor: auto;
}

.ema {
    margin-left: 17px;
}


.sec8 h2,h3 {
    font-weight: 400;
}

.sec8 h3 {
    margin-bottom: 40px;
}

form i {
    margin-left: -50px;
    font-size: 30px;
    cursor: pointer;
}



.sec8 label {
    font-size: 30px;
    margin-bottom: -30.8px;
    text-align: left;
}

.sec8 .btnsig {
    background-color:#11222C;
    border-color: transparent;
    width: 220px;
    height: 60px;
    color: #dbdfe1;
    font-size: 20px;
    border-radius: 50px;
    align-self: center;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Comfortaa', cursive;
    margin-top: 50px;
    margin-right: 0px;
}

.sec8 .btnsig:hover {
    background-color: black;
    color: white;
}


